# Jekyll
_site
.sass-cache

# from WinEdt
*.dvi
*.ps
*.toc
*.log
*.tmp
*.bak
*.aux
*.synctex
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.gls
*.glo
*.lof
*.lot
*.aa?
*.prj

# for LaTeXDaemon
TeXAux/
*.fmt

#from GitHub/gitignore
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

#perso
*.zip
*.sublime*
.eslintrc
assets/
exemples/
