[submodule "exemples/Gists/HTML2/html2exemple01"]
	path = exemples/Gists/HTML2/html2exemple01
	url = https://gist.github.com/8dd10c36992e0291f9b21d8d83a31d6f.git
[submodule "exemples/Gists/HTML2/html2exemple02"]
	path = exemples/Gists/HTML2/html2exemple02
	url = https://gist.github.com/ddd8ae269b74308e8a3b658bd96167c6.git
[submodule "exemples/Gists/HTML2/html2exemple03"]
	path = exemples/Gists/HTML2/html2exemple03
	url = https://gist.github.com/354f8ea4010e8f9a48eb8778d003507d.git
[submodule "exemples/Gists/HTML2/html2exemple04"]
	path = exemples/Gists/HTML2/html2exemple04
	url = https://gist.github.com/956c3f357071348d92f390825b61b04a.git
[submodule "exemples/Gists/HTML2/html2exemple05"]
	path = exemples/Gists/HTML2/html2exemple05
	url = https://gist.github.com/9ff35ff69a0280c50925188431318a1f.git
[submodule "exemples/Gists/HTML2/html2exemple06"]
	path = exemples/Gists/HTML2/html2exemple06
	url = https://gist.github.com/49cf079f61ef9ef2cad4194bc3daf3d7.git
[submodule "exemples/Gists/HTML2/html2exemple07"]
	path = exemples/Gists/HTML2/html2exemple07
	url = https://gist.github.com/4532775d011ecbff71384deea2830cbe.git
[submodule "exemples/Gists/HTML2/html2exemple08"]
	path = exemples/Gists/HTML2/html2exemple08
	url = https://gist.github.com/552a346c2ea3426484f87ba3707e874e.git
[submodule "exemples/Gists/HTML2/html2exemple09"]
	path = exemples/Gists/HTML2/html2exemple09
	url = https://gist.github.com/764b30e3804cce2591271579e24dc315.git
[submodule "exemples/Gists/HTML2/html2exemple10"]
	path = exemples/Gists/HTML2/html2exemple10
	url = https://gist.github.com/e784220e0939493d0d13af66516ff0ec.git
[submodule "exemples/Gists/HTML2/html2exemple11"]
	path = exemples/Gists/HTML2/html2exemple11
	url = https://gist.github.com/0a77f12ac1843732679d8d49e8938b35.git
[submodule "exemples/Gists/HTML2/html2exemple12"]
	path = exemples/Gists/HTML2/html2exemple12
	url = https://gist.github.com/4847bc0f3b90ba209e0367bdad8ed4d5.git
