    <script src="{{ 'jquery-2.1.4.min.js' | prepend: site.jqueryurl }}"></script>
    <script src="{{ 'lib/js/head.min.js' | prepend: site.revealjsurl }}"></script>
    <script src="{{ 'js/reveal.min.js' | prepend: site.revealjsurl }}"></script>
    <script src="{{ 'scripts/prereveal.js' | prepend: site.baseurl }}"></script>
    <script src="{{ 'scripts/prelinks.js' | prepend: site.baseurl }}"></script>
    <script>
      "use strict";

      (function(){
        // add <section>, [.fragment] and set default code type
        preReveal('{{page.codelang}}');

        // start reveal.js
        Reveal.initialize({
          history: true,
          slideNumber: true,
          transition: 'linear',

          // math: {
          //   mathjax: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js',
          //   config: 'TeX-AMS_HTML-full'
          // },

          dependencies: [
            { src: '{{ 'lib/js/classList.js' | prepend: site.revealjsurl }}' },
            { src: '{{ 'plugin/highlight/highlight.js' | prepend: site.revealjsurl }}', async: true, callback: function() {
                $('code').each(function(i, block) {
                  hljs.highlightBlock(block);
                });
                // hljs.initHighlightingOnLoad();
              }
            },
            // { src: '{{ 'plugin/math/math.js' | prepend: site.revealjsurl }}', async: true },
            { src: '{{ 'plugin/zoom-js/zoom.js' | prepend: site.revealjsurl }}', async: true }
          ]
        }); //end Reveal.initialize()
      })();
    </script>

