<!-- begin cours_title_slide.html -->

<section data-background="black" data-background-transition="zoom">
  <div class='cours short'>TeX4 - (Xe)LaTeX & HTML(5)</div>
  <div class='cours long'>{{ page.title }}</div>
  <div class="fragment roll-in">l'adresse web de cette présentation :
    <div class='cours shorturl'>{{ page.shorturl }}</div>
  </div>
  <div class="fragment roll-in">
    et du cours :
    <a href="{{ site.url }}" class="siteurl">{{ site.url | remove_first : 'https://' | remove_last : '/' }}</a>
  </div>
<!-- </section> -->

<!-- end cours_title_slide.html -->
